.jumbotron {
    background-color: darkslateblue;
}

.highlight {
    background-color: #ffeaa7;
    padding: 2%;
    border-radius: 8px;
}

    .highlight .judul a {
        color: #636e72;
    }

.judul {
    font-size: 21px;
}

.label-post ul{
    padding: 0 15px;
}

.gambar {
    width: 100%;
    height: 450px;
    margin-bottom: 13px;
    border-radius: 5px;
}